body{
  background-color: hsl(0, %, 85%);
}
#calculator {
  display: flexbox;
  align-items: center;
  height: 100vh;
  justify-content: center;
  border: none;
  max-width: 500px;
  max-height: 600px;
  margin: auto;
  padding: 5% 0;
  background-color: hsl(0, 1%, 25%);
  border-radius: 15px;
}
#screen {
  width: 97%;
  max-height: 100%;
  color: white;
  font-size: 55px;
  border-radius: 15px;
  padding: 0 5px;
  background-color: transparent;
}
#buttons {
  margin: 45px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 11px;
  padding: 11px;
}
button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  color: white;
  background-color: hsl(0, 0%, 51%);
  font-size: 41px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
button:active {
  background-color: hsl(0, 1%, 45%);
  box-shadow: 1px 1px 15px rgb(100, 206, 241);
}

.operator {
  background-color: rgb(0, 77, 88);
}
.operator:active {
  background-color: hsla(188, 96%, 22%, 0.466);
  box-shadow: 1px 1px 15px rgb(100, 206, 255);
}
