#calculator{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    border: none;
}
#screen
{
    width: 100px;
    color: white;
    border-radius: 15px;
}
#buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100;
}
